  .background {
    background-color: black;
  }
  h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  h4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  h5 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  h6 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .blackText {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }